/* extend */

%font-size {
    font-size: 16px;
}


.info {
    @extend %font-size;
}

.success {
    @extend %font-size;
    color: #00FF00;
}
.warning {
    @extend %font-size;
    color: #FF0000;
}
